<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--<p th:text="${findByIdStudent.getId()}">Value</p>-->
<!--<p th:text="${findByIdStudent.getFirstName()}">Value</p>-->
<!--<p th:text="${findByIdStudent.getEmail()}">Value</p>-->
<!--<p th:text="${findByIdStudent.getLastName()}">Value</p>-->
<!--<p th:text="${findByIdStudent.getStudyFormat()}">Value</p>-->

<!--<a  th:href="@{/company/{id}/update(id=${findByIdStudent.getId()})}">Edit</a>-->
<!--<form  th:method="DELETE" th:action="@{/company/{id}(id=${findByIdStudent.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->