<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${findById.getId()}">Value</p>-->
<!--<p th:text="${findById.getCompanyName()}">Value</p>-->
<!--<p th:text="${findById.getLocatedCountry()}">Value</p>-->

<!--<a  th:href="@{/api/{id}/update(id=${findById.getId()})}">Edit</a>-->
<!--<form  th:method="DELETE" th:action="@{/company/{id}(id=${findById.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->