<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!--<body>-->
<!--<p th:text="${findByIdGroup.getId()}">Value</p>-->
<!--<p th:text="${findByIdGroup.getGroupName()}">Value</p>-->
<!--<p th:text="${findByIdGroup.getDateOfStart()}">Value</p>-->
<!--<p th:text="${findByIdGroup.getDateOfFinish()}">Value</p>-->

<!--<a  th:href="@{/gro/{id}/update1(id=${findByIdGroup.getId()})}">Edit</a>-->
<!--<form  th:method="DELETE" th:action="@{/group/{id}(id=${findByIdGroup.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
</body>
</html>