<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <table class="table table-header">
        <thead>
        <tr>
            <th scope="col" style="color: gold">#</th>
            <th scope="col" style="color: gold">
                <bold>GroupName</bold>
            </th>
            <th scope="col" style="color: gold">
                <bold>dateOfStart</bold>
            </th>
            <th scope="col" style="color: gold">
                <bold>dateOfFinish</bold>
            </th>
            <th scope="col" style="color: gold">
                <bold>course Id</bold>
            </th>
            <th scope="col" style="color: gold">
                <bold>Students</bold>
            </th>
            <th><a th:href="@{/group/{id}/addGroup(id=${courseId})}">
                <button type="button" class="btn btn-dark" style="color: red">+add Group</button>
            </a></th>
            <th><a href="/api/">
                <button type="button" class="btn btn-dark" style="color: red">manu</button>
            </a></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="group:${groups}">
            <tr>
                <th scope="row" th:text="${group.getId()}"></th>
                <th scope="row" th:text="${group.getGroupName()}"></th>
                <th scope="row" th:text="${group.getDateOfStart()}"></th>
                <th scope="row" th:text="${group.getDateOfFinish()}"></th>
                <th scope="row" th:text="${group.getCourse().getId()}"></th>

                <td>
                    <a href="#" th:href="@{/group/{id}/updateGroup/{id}(id=${group.getId()})}">
                        <button type="button" class="btn btn-primary">update</button>
                    </a>
                </td>
                <td>
                <td>
                    <form th:action="@{/group/{id}/deleteGroup/{idDelete}(id=${courseId},idDelete=${group.getId()})}"
                          th:method="delete">
                        <input type="hidden" value="delete"/>
                        <button type="submit" class="btn btn-primary">delete</button>
                    </form>
                </td>
                <td>
                    <a href="#" th:href="@{/student/{id}(id=${group.getId()})}">
                        <button type="button" class="btn btn-primary">Student info</button>
                    </a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>


</head>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>